@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Colors */
  --color-primary-green: #00b78e;
  --color-primary-green-hover: #00a3a9;
  --color-primary-green-active: #008f95;

  --color-card-bg: #011725;
  --color-element-bg: #0F2C3F;

  --color-text-primary: #ededed;
  --color-text-muted: #94a3b8;

  --color-danger: #dc2626;
  --color-approve: #49e2c8;
  --color-approve-bg: #012e34;

  /* Radius */
  --radius-icon: 24px;
  --radius-square: 40px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-darbare);

  /* Colors */
  --color-primary-green: var(--color-primary-green);
  --color-primary-green-hover: var(--color-primary-green-hover);
  --color-primary-green-active: var(--color-primary-green-active);

  --color-card-bg: var(--color-card-bg);
  --color-element-bg: var(--color-element-bg);

  --color-text-primary: var(--color-text-primary);
  --color-text-muted: var(--color-text-muted);

  --color-danger: var(--color-danger);
  --color-approve: var(--color-approve);

  --color-approve-bg: var(--color-approve-bg);

  /* Radius */
  --radius-icon: var(--radius-icon);
  --radius-square: var(--radius-square);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
